<%= render 'shared/content_title', title: 'Projects' %>

<br>

<table class="span12 container">
  <thead>
    <tr>
      <th>Name</th>
      <th class="number text-center">Open Tickets</th>
      <th class="number text-center">Total Tickets</th>
    </tr>
  </thead>
  <% @projects.each do |project| %>
    <tr>
      <td class="col-sm-4 text-left pl-0">
        <strong>
          <%= link_to project.name,  project_path(project) %>
        </strong>
        <br>
        <%= project.description %>
      </td>
      <td class="number col-sm-4 text-center">
        <%= project.tickets.open.count %>
      </td>
      <td class="number col-sm-4 text-center">
        <%= project.tickets.count %>
      </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to "Add new project", new_project_path %>