<%= render 'shared/content_title', title: "#{@project.name}" %>

<div class="container-fluid">
  <div class="row">
    <p class="col-sm-10 h4">Project description</p>
    <p class="col-sm-2">
      <%= link_to 'Edit', edit_project_path(@project) %> 
      <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: "Delete this project?" } %>  
    </p>
  </div>
  <br>
  <div class="row">
    <p class="h6 col-sm-12"><%= @project.description %></p>
  </div>
</div>

<br>



<hr />

<p class="h4">Tickets</p>
<%= render 'tickets/table' %>

<br>

<%= link_to "Add a new ticket", new_ticket_path(project: @project.id) %>